//--------------BASE COLORS--------------//
$base-red: #de0613;
$base-orange: #F38B4C;
$base-yellow: #FEDA36;
$base-green: #79CA4D;
$base-blue: #3EBCFF;

//--------------GREYSCALE--------------//
$white: #FFF;
$grey-lt: #e9e9e9;
$grey-md: #C9C9C9;
$grey-dk:#6b6969;
$black: #010010;

$global-shadow: 0 6px 25px 5px rgba(0, 0, 0, 0.1);